/* src/App.css */

.App {
  display: flex;
  justify-content: flex-start; /* Align items to the start (left) of the flex container */
  padding: 20px;
}

.profile-info {
  text-align: left; /* Left align text inside .profile-info */
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
  margin-right: 20px; /* Optional: Add some space to the right of the profile pic */
}

.profile-info h4 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.profile-info ul {
  list-style-type: none;
  padding: 0;
}

.profile-info ul li {
  margin-bottom: 10px;
}

.profile-info ul li strong {
  display: block;
  margin-bottom: 5px;
}

